body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 15%;
}

div {
    position: fixed;
    width: 500px;
    height: 500px;
    left: 33.5%;
}

img {
    width: 500px;
    height: 500px;
}

div.cell {
    position: fixed;
    width: 162px;
    height: 160px;
    top: 10%;
}

.cell > img {
    width: 162px;
    height: 160px;
    visibility: hidden;
}

div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 160px;
    top: 10%;
    left: 44.55%;
}

div.cell + div.cell + div.cell{
    position: fixed;
    width: 157px;
    height: 160px;
    top: 10%;
    left: 55.5%;
}

div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 165px;
    top: 31.2%;
    left: 33.5%;
}

div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 165px;
    top: 31.2%;
    left: 44.55%;
}

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 157px;
    height: 165px;
    top: 31.2%;
    left: 55.5%;
}

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 157px;
    top: 53%;
    left: 33.5%;
}

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 157px;
    top: 53%;
    left: 44.5%;
}

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 157px;
    height: 157px;
    top: 53%;
    left: 55.5%;
}

.restart {
    width: 100px;
    height: 30px;
    top: 80%;
    left: 47%; 
}

.restart > button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: large;
}