body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 15%;
}

div {
    position: fixed;
    width: 500px;
    height: 500px;
    left: 33.5%;
    background-color: white;
}

img {
    width: 500px;
    height: 500px;
}

div.cell {
    position: fixed;
    width: 162px;
    height: 160px;
    background-color: red;
    top: 10%;
    border: solid;
}

.cell > img {
    width: 162px;
    height: 160px;
    visibility: hidden;
}

div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 160px;
    background-color: yellow;
    top: 10%;
    left: 44.55%;
    border: solid;
}

/*#c2 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell{
    position: fixed;
    width: 157px;
    height: 160px;
    background-color: green;
    top: 10%;
    left: 55.5%;
    border: solid;
}

/*#c3 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell + div.cell{
    /**/
    position: fixed;
    width: 162px;
    height: 165px;
    background-color: purple;
    top: 31.2%;
    left: 33.5%;
    border: solid;
}

/*#c4 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 165px;
    background-color: pink;
    top: 31.2%;
    left: 44.55%;
    border: solid;
}

/*#c5 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 157px;
    height: 165px;
    background-color: blue;
    top: 31.2%;
    left: 55.5%;
    border: solid;
}

/*#c6 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 157px;
    background-color: orange;
    top: 53%;
    left: 33.5%;
    border: solid;
}

/*#c7 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 162px;
    height: 157px;
    background-color: fuchsia;
    top: 53%;
    left: 44.5%;
    border: solid;
}

/*#c8 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell + div.cell{
    position: fixed;
    width: 157px;
    height: 157px;
    background-color: greenyellow;
    top: 53%;
    left: 55.5%;
    border: solid;
}

/*#c9 > img{
    width: 162px;
    height: 160px;
    visibility: hidden;
}*/

.restart {
    width: 100px;
    height: 30px;
    top: 80%;
    left: 47%;
    
}

.restart > button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: large;
}